<section class="section section-about">
  <div class="container section-about__container">
    <ul class="list section-about__image-list">
      <li class="item section-about__image-item">
        <div class="thumb">
          <img
            class="image section-about__image"
            src="/images/about/about-img1-330.jpg"
            alt=""
            width="270"
          />
        </div>
      </li>
      <li class="item section-about__image-item">
        <div class="thumb">
          <img
            class="image section-about__image"
            src="/images/about/about-img2-330.jpg"
            alt=""
            width="270"
          />
        </div>
      </li>
    </ul>
    <div class="group-info section-about__group-info">
      <p class="pre-title section-about__pre-title">О нас</p>
      <h2 class="title section-about__title">Лучший Барбершоп твоего города</h2>
      <p class="title-description section-about__title-description">
        Если ты хочешь добавить в свой образ больше уверенности – тебе точно к нам.
      </p>
      <p class="team-description section-about__team-description">
        Мы команда, которая никогда не останавливается на достигнутом и жаждет перемен. И когда ты
        попадешь в руки нашего мастера, то уже никогда не сможешь быть прежним. Мы команда, которая
        всегда с клиентами "на одной волне". Поэтому, мы всегда готовы усовершенствовать каждого,
        кто к нам приходит!
      </p>
      <button class="button section-about__button-recording">Онлайн-запись</button>
    </div>
  </div>
</section>
