<section class="section section-masters">
  <div class="container section-masters__container">
    <p class="pre-title section-masters__pre-title">Для настоящих ценителей атмосферы</p>
    <h2 class="title section-masters__title">Наши мастера</h2>
    <ul class="list section-masters__list">
      <li class="card">
        <div class="card__image-thumb">
          <img
            class="card__photo"
            src="/images/masters/masters-jhohn-smith-418.jpg"
            alt="John Smith фото"
            width="370"
          />
        </div>

        <h4 class="card__name">John Smith</h4>
        <p class="card__profession">Extreme Barber</p>
        <ul class="list social-network__list">
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              >instagram</a
            >
          </li>
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
              >twitter</a
            >
          </li>
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              >facebook</a
            >
          </li>
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
              >linkedIn</a
            >
          </li>
        </ul>
      </li>

      <li class="card">
        <div class="card__image-thumb">
          <img
            class="card__photo"
            src="/images/masters/masters-michele-doe-418.jpg"
            alt="Michele Doe фото"
            width="370"
          />
        </div>

        <h4 class="card__name">Michele Doe</h4>
        <p class="card__profession">Extreme Barber</p>
        <ul class="list social-network__list">
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              >instagram</a
            >
          </li>
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
              >twitter</a
            >
          </li>
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              >facebook</a
            >
          </li>
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
              >linkedIn</a
            >
          </li>
        </ul>
      </li>

      <li class="card">
        <div class="card__image-thumb">
          <img
            class="card__photo"
            src="/images/masters/masters-alan-black-418.jpg"
            alt="Alan Black фото"
            width="370"
          />
        </div>

        <h4 class="card__namecard__name">Alan Black</h4>
        <p class="card__profession">Extreme Barber</p>
        <ul class="list social-network__list">
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              >instagram</a
            >
          </li>
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
              >twitter</a
            >
          </li>
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              >facebook</a
            >
          </li>
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
              >linkedIn</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
