<section class="section section-barba">
  <div class="container section-barba__container">
    <p class="pre-title section-barba__pre-title">На латинском языке “барба” означает “борода”</p>
    <h2 class="title section-barba__title visually-hidden">Как мы работаем</h2>
    <ul class="section-barba__list">
      <li class="section-barba__item">
        <div class="thumb">
          <picture class="section-barba__image">
            <source
              srcset="/images/barba/barba-img1-418.jpg 1x, /images/barba/barba-img1-418@2x.jpg 2x"
              media="(max-width:480px)"
              type="image/jpeg"
            />
            <source
              srcset="/images/barba/barba-img1-330.jpg 1x, /images/barba/barba-img1-330@2x.jpg 2x"
              media="(max-width:768px)"
              type="image/jpeg"
            />
            <source
              srcset="/images/barba/barba-img1-270.jpg 1x, /images/barba/barba-img1-270@2x.jpg 2x"
              media="(min-width:769px)"
              type="image/jpeg"
            />
            <img src="/images/barba/barba-img1-418.jpg" alt="фото этап стрижки №1" width="418" />
          </picture>
        </div>
      </li>
      <li class="section-barba__item">
        <div class="thumb">
          <picture class="section-barba__image">
            <source
              srcset="/images/barba/barba-img2-418.jpg 1x, /images/barba/barba-img2-418@2x.jpg 2x"
              media="(max-width:480px)"
              type="image/jpeg"
            />
            <source
              srcset="/images/barba/barba-img2-330.jpg 1x, /images/barba/barba-img2-330@2x.jpg 2x"
              media="(max-width:768px)"
              type="image/jpeg"
            />
            <source
              srcset="/images/barba/barba-img2-270.jpg 1x, /images/barba/barba-img2-270@2x.jpg 2x"
              media="(min-width:769px)"
              type="image/jpeg"
            />

            <img src="/images/barba/barba-img2-418.jpg" alt="фото этап стрижки №2" width="418" />
          </picture>
        </div>
      </li>
      <li class="section-barba__item">
        <div class="thumb">
          <picture class="section-barba__image">
            <source
              srcset="/images/barba/barba-img3-418.jpg 1x, /images/barba/barba-img3-418@2x.jpg 2x"
              media="(max-width:480px)"
              type="image/jpeg"
            />
            <source
              srcset="/images/barba/barba-img3-330.jpg 1x, /images/barba/barba-img3-330@2x.jpg 2x"
              media="(max-width:768px)"
              type="image/jpeg"
            />
            <source
              srcset="//images/barba/barba-img3-270.jpg 1x, /images/barba/barba-img3-270@2x.jpg 2x"
              media="(min-width:769px)"
              type="image/jpeg"
            />

            <img src="/images/barba/barba-img3-418.jpg" alt="фото этап стрижки №3" width="418" />
          </picture>
        </div>
      </li>
      <li class="section-barba__item">
        <div class="thumb">
          <picture class="section-barba__image">
            <source
              srcset="/images/barba/barba-img4-418.jpg 1x, /images/barba/barba-img4-418@2x.jpg 2x"
              media="(max-width:480px)"
              type="image/jpeg"
            />
            <source
              srcset="/images/barba/barba-img4-330.jpg 1x, /images/barba/barba-img4-330@2x.jpg 2x"
              media="(max-width:768px)"
              type="image/jpeg"
            />
            <source
              srcset="/images/barba/barba-img4-270.jpg 1x, /images/barba/barba-img4-270@2x.jpg 2x"
              media="(min-width:769px)"
              type="image/jpeg"
            />

            <img src="/images/barba/barba-img4-418.jpg" alt="фото этап стрижки №4" width="418" />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
