<section class="section section-masters">
  <div class="container section-masters__container">
    <div class="group-info section-barba__group-info">
      <p class="pre-title section-masters__pre-title">Для настоящих ценителей атмосферы</p>
      <h2 class="title section-masters__title">Наши мастера</h2>
    </div>

    <ul class="list section-masters__list">
      <li class="card section-masters__card">
        <div class="card__image-thumb">
          <picture class="card__photo">
            <source
              srcset="
                /images/masters/masters-jhohn-smith-370.jpg    1x,
                /images/masters/masters-jhohn-smith-370@2x.jpg 2x
              "
              media="(min-width:1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                /images/masters/masters-jhohn-smith-450.jpg    1x,
                /images/masters/masters-jhohn-smith-450@2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                /images/masters/masters-jhohn-smith-418.jpg    1x,
                /images/masters/masters-jhohn-smith-418@2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <img
              src="/images/masters/masters-jhohn-smith-418.jpg"
              alt="фото John Smith"
              width="418"
            />
          </picture>
        </div>
        <div class="card__info-thumb">
          <h4 class="card__name">John Smith</h4>
          <p class="card__profession">Extreme Barber</p>
          <ul class="list social-network__list">
            <li class="item social-network__item">
              <a
                class="link social-network__link"
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-network__icon" width="20" height="20">
                  <use href="/images/icons/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>

            <li class="item social-network__item">
              <a
                class="link social-network__link"
                href="https://twitter.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-network__icon" width="20" height="20">
                  <use href="/images/icons/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="item social-network__item">
              <a
                class="link social-network__link"
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-network__icon" width="20" height="20">
                  <use href="/images/icons/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="item social-network__item">
              <a
                class="link social-network__link"
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="social-network__icon" width="20" height="20">
                  <use href="/images/icons/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="card section-masters__card">
        <div class="card__image-thumb">
          <picture class="card__photo">
            <source
              srcset="
                /images/masters/masters-michele-doe-370.jpg    1x,
                /images/masters/masters-michele-doe-370@2x.jpg 2x
              "
              media="(min-width:1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                /images/masters/masters-michele-doe-450.jpg    1x,
                /images/masters/masters-michele-doe-450@2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                /images/masters/masters-michele-doe-418.jpg    1x,
                /images/masters/masters-michele-doe-418@2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <img
              src="/images/masters/masters-michele-doe-418.jpg"
              alt="фото Michele Doe"
              width="418"
            />
          </picture>
        </div>

        <h4 class="card__name">Michele Doe</h4>
        <p class="card__profession">Extreme Barber</p>
        <ul class="list social-network__list">
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-network__icon" width="20" height="20">
                <use href="/images/icons/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-network__icon" width="20" height="20">
                <use href="/images/icons/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-network__icon" width="20" height="20">
                <use href="/images/icons/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-network__icon" width="20" height="20">
                <use href="/images/icons/icons.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="card section-masters__card">
        <div class="card__image-thumb">
          <picture class="card__photo">
            <source
              srcset="
                /images/masters/masters-alan-black-370.jpg    1x,
                /images/masters/masters-alan-black-370@2x.jpg 2x
              "
              media="(min-width:1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                /images/masters/masters-alan-black-450.jpg    1x,
                /images/masters/masters-alan-black-450@2x.jpg 2x
              "
              media="(min-width:768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                /images/masters/masters-alan-black-418.jpg    1x,
                /images/masters/masters-alan-black-418@2x.jpg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <img
              src="/images/masters/masters-alan-black-418.jpg"
              alt="фото Alan Black"
              width="418"
            />
          </picture>
        </div>

        <h4 class="card__name">Alan Black</h4>
        <p class="card__profession">Extreme Barber</p>
        <ul class="list social-network__list">
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-network__icon" width="20" height="20">
                <use href="/images/icons/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-network__icon" width="20" height="20">
                <use href="/images/icons/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-network__icon" width="20" height="20">
                <use href="/images/icons/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="item social-network__item">
            <a
              class="link social-network__link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-network__icon" width="20" height="20">
                <use href="/images/icons/icons.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
