<section class="section section-barba">
  <div class="container section-barba__container">
    <p class="pre-title section-barba__pre-title">На латинском языке “барба” означает “борода”</p>
    <h2 class="title section-barba__title visually-hidden">Как мы работаем</h2>
    <ul class="section-barba__list">
      <li class="section-barba__item">
        <div class="thumb">
          <img
            class="section-barba__image"
            src="/images/barba/barba-img1-418.jpg"
            alt="barba cutting stage 1"
            width="270"
          />
        </div>
      </li>
      <li class="section-barba__item">
        <div class="thumb">
          <img
            class="section-barba__image"
            src="/images/barba/barba-img2-418.jpg"
            alt="barba cutting stage 2"
            width="270"
          />
        </div>
      </li>
      <li class="section-barba__item">
        <div class="thumb">
          <img
            class="section-barba__image"
            src="/images/barba/barba-img3-418.jpg"
            alt="barba cutting stage 3"
            width="270"
          />
        </div>
      </li>
      <li class="section-barba__item">
        <div class="thumb">
          <img
            class="section-barba__image"
            src="/images/barba/barba-img4-418.jpg"
            alt="barba cutting stage 4"
            width="270"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
