<section class="section section-prices">
  <div class="background-thumb">
    <div class="container section-prices__container">
      <p class="pre-title section-prices__pre-title">Проведи время в компании лучших мастеров</p>
      <h2 class="title section-prices__title">Услуги и цены</h2>

      <ul class="section-prices__list">
        <li class="section-prices__item">
          <table class="section-prices__table">
            <tr class="section-prices__row">
              <td class="section-prices__cell">Мужская стрижка</td>
              <td class="section-prices__cell"></td>
              <td class="section-prices__cell">от 300 грн.</td>
            </tr>
            <tr class="section-prices__row">
              <td class="section-prices__cell">Стрижка бороды</td>
              <td class="section-prices__cell"></td>
              <td class="section-prices__cell">от 200 грн.</td>
            </tr>
            <tr class="section-prices__row">
              <td class="section-prices__cell">Стрижка усов</td>
              <td class="section-prices__cell"></td>
              <td class="section-prices__cell">от 200 грн.</td>
            </tr>
            <tr class="section-prices__row">
              <td class="section-prices__cell">Бритье опасной бритвой</td>
              <td class="section-prices__cell"></td>
              <td class="section-prices__cell">от 200 грн.</td>
            </tr>
          </table>
        </li>
        <li class="section-prices__item">
          <table class="section-prices__table">
            <tr class="section-prices__row">
              <td class="section-prices__cell">Cтрижка у стажера</td>
              <td class="section-prices__cell"></td>
              <td class="trsection-prices__cell">от 50 грн.</td>
            </tr>
            <tr class="section-prices__row">
              <td class="section-prices__cell">Стрижка под насадку</td>
              <td class="section-prices__cell"></td>
              <td class="section-prices__cell">от 200 грн.</td>
            </tr>
            <tr class="section-prices__row">
              <td class="section-prices__cell">Детская стрижка (до 12 лет)</td>
              <td class="section-prices__cell"></td>
              <td class="section-prices__cell">от 300 грн.</td>
            </tr>
            <tr class="section-prices__row">
              <td class="section-prices__cell">Камуфлирование седины</td>
              <td class="section-prices__cell"></td>
              <td class="section-prices__cell">от 200 грн.</td>
            </tr>
          </table>
        </li>
      </ul>

      <button class="button online-recording section-prices__online-recording">
        Онлайн-запись
      </button>
    </div>
  </div>
</section>
