<section class="section section-hero">
  <div class="container section-hero__container">
    <p class="pre-title section-hero__pre-title" lang="ru">A hair salon for men in Kyiv</p>
    <h1 class="title section-hero-title">BarberShop</h1>
    <p class="title-description section-hero__title-description">
      Мы эксперты в модных мужских стрижках.<br />
      Работаем быстро, осторожно и со вкусом.
    </p>
    <ul class="list section-hero__buttons-list">
      <li class="item section-hero__buttons-item">
        <button class="button section-hero__button-direction">Назад</button>
      </li>
      <li class="item section-hero__buttons-item">
        <button class="button section-hero__button-direction">Вперед</button>
      </li>
    </ul>
  </div>
</section>
