<section class="section section-oldschool">
  <div class="container section-oldschool__container">
    <div class="group-describe section-oldschool__group-describe">
      <p class="pre-title section-oldschool__pre-title">старая традиционная школа</p>
      <h2 class="title section-oldschool__title">
        Почему приходят <br />
        именно к нам?
      </h2>
      <p class="title-description section-oldschool__title-description">
        О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем 10 раз прочитать.
      </p>
    </div>
    <div class="group-advantages section-oldschool__group-advantages">
      <ul class="list section-oldschool__list">
        <li class="item section-oldschool__item">
          <p class="section-oldschool__quantity">
            600<sup class="section-oldschool__superscript">+</sup>
          </p>
          <p class="section-oldschool__description">Довольных клиентов в день</p>
        </li>
        <li class="item section-oldschool__item">
          <p class="section-oldschool__quantity">
            50<sup class="section-oldschool__superscript">+</sup>
          </p>
          <p class="section-oldschool__description">Наград за отличный сервис</p>
        </li>
        <li class="item section-oldschool__item">
          <p class="section-oldschool__quantity">
            20<sup class="section-oldschool__superscript">+</sup>
          </p>
          <p class="section-oldschool__description">Лучших мастеров Киева</p>
        </li>
        <li class="item section-oldschool__item">
          <p class="section-oldschool__quantity">
            100<sup class="section-oldschool__superscript">+</sup>
          </p>
          <p class="section-oldschool__description">Подарков постоянным клиентам</p>
        </li>
      </ul>
    </div>
  </div>
</section>
